@model TombProspectors.Controllers.DungeonController.ViewGlyphModel
@{
	Layout = "_Layout";
	ViewBag.Title = "View Glyphing: " + Model.Dungeon.Glyph;
}

@section Head {
	<link rel="stylesheet" type="text/css" href="~/lib/fancybox/jquery.fancybox.min.css" />
	<style>
		.submitData {
			font-style: italic;
			font-weight: bold;
		}

		.upvoteData {
			color: green;
		}

		.downvoteData {
			color: red;
		}
	</style>
}

<h2 class="ui huge header">
	Viewing Glyph <i>@Model.Dungeon.Glyph</i>
</h2>
<span>@Model.Dungeon.ShortDescription</span>
<br />

<div class="ui mini statistic" style="margin-bottom:4px;">
	<div class="value">
		@if (Model.Dungeon.ClosedVotes > 2)
		{
			<span class="upvoteData">-</span> @Html.Raw("/"); <span class="downvoteData">-</span>
		}
		else
		{
			<span class="upvoteData">+@Model.Dungeon.Upvotes</span> @Html.Raw("/"); <span class="downvoteData">-@Model.Dungeon.Downvotes</span>
		}
	</div>
	<div class="label">
		@*Allow rating when user is logged in and not the submitter*@
		@if (User.Identity.IsAuthenticated && Model.HasVoted == false && User.Identity.Name != Model.Dungeon.Submitter)
		{
			<a href="#" id="upvoteBtn" data-tooltip="Vote Up"><i class="thumbs up icon"></i></a>
			<a href="#" id="downvoteBtn" data-tooltip="Vote Down"><i class="thumbs down icon"></i></a>
			<a href="#" id="markAsClosedBtn" data-tooltip="Dungeon is no longer active"><i class="ban icon"></i></a>
		}
		@*User already voted, show retract button*@
		else if (User.Identity.IsAuthenticated && Model.HasVoted)
		{
			<a href="#" id="retractVoteBtn" data-tooltip="Remove your vote"><i class="radio icon"></i></a>
		}
	</div>
</div>

@if (Model.Dungeon.ClosedVotes > 0 && Model.Dungeon.ClosedVotes < 3)
{
	<div class="ui error icon message" style="margin-top:0px;">
		<i class="warning sign icon"></i>
		<div class="content">
			<div class="header">
				Warning
			</div>
			@{ 
				var diff = 3 - Model.Dungeon.ClosedVotes;
			}
			<p> This dungeon currently has @Model.Dungeon.ClosedVotes closed. After @diff  more confirmation votes, the dungeon will be marked as closed</p>
		</div>
	</div>
}
else if (Model.Dungeon.ClosedVotes > 2)
{
	<div class="ui error icon message" style="margin-top:0px;">
		<i class="warning sign icon"></i>
		<div class="content">
			<div class="header">
				Warning
			</div>
			<p> This dungeon currently has @Model.Dungeon.ClosedVotes. Votes will still be registered, but rating will not longer be available.</p>
		</div>
	</div>
}

<div class="ui top attached tabular menu">
	<a class="item active" data-tab="tab_glyph">Glyph</a>
	<a class="item" data-tab="tab_images">Images</a>
	<a class="item" data-tab="tab_comments">Comments</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="tab_glyph">
	<ul class="ui list">
		<li>
			<b>Root Chalice:</b> @Model.RootChaliceDisplayName
		</li>
		<li>
			<a href="#">
				@if (Model.Dungeon.Fetid)
				{<div class="ui green label">Fetid</div>}
				else
				{<div class="ui red label">Fetid</div>}
			</a>

			<a href="#">
				@if (Model.Dungeon.Rotted)
				{<div class="ui green label">Rotted</div>}
				else
				{<div class="ui red label">Rotted</div>}
			</a>

			<a href="#">
				@if (Model.Dungeon.Cursed)
				{<div class="ui green label">Cursed</div>}
				else
				{<div class="ui red label">Cursed</div>}
			</a>

			<a href="#">
				@if (Model.Dungeon.Sinister)
				{<div class="ui green label">Sinister</div>}
				else
				{<div class="ui red label">Sinister</div>}
			</a>

			<a href="#">
				@if (Model.Dungeon.SaveEdited)
				{<div class="ui green label">Save Edited</div>}
				else
				{<div class="ui red label">Save Edited</div>}
			</a>
		</li>

		<li>
			<b>Bosses:</b>
			<ul>
				@foreach (var boss in Model.Bosses)
				{
					<li>
						@if (boss.WikiLink != null)
						{
							<a href="@boss.WikiLink" target="_blank">@boss.BossName</a>
						}
						else
						{
							<span>@boss.BossName</span>
						}
					</li>
				}
			</ul>
		</li>

		<li>
			<b>Loot:</b>
			<ul>
				@foreach (var loot in Model.Loot)
				{
					<li>
						@if (loot.WikiLink != null)
						{
							<a href="@loot.WikiLink" target="_blank">@loot.ItemName</a>
						}
						else
						{
							<span>@loot.ItemName</span>
						}

					</li>
				}
			</ul>
		</li>
	</ul>

	<b>Notes:</b>
	<div class="ui message">
		<span id="notesAnchor">@Model.Dungeon.Notes</span>
	</div>

	@if (User.Identity.Name == Model.Dungeon.Submitter)
	{
		<a href="/dungeon/edit/@Model.Dungeon.Glyph">Edit glyph</a>
	}

	<p style="color:darkgray;">
		Submitted on <span class="submitData">@Model.Dungeon.Updated</span> by

		@if (Model.Dungeon.Submitter == User.Identity.Name)
		{
			<a href="/account/profile" class="submitData">You</a>
		}
		else
		{
			<a href="/account/viewprofile/@Model.Dungeon.Submitter" class="submitData">@Model.Dungeon.Submitter</a>
		}

	</p>
</div>
<div class="ui bottom attached tab segment" data-tab="tab_images">
	@foreach (var img in Model.Screenshots)
	{
		if (img.EndsWith("-thumb.png") == false)
		{
			<a href="~/Screenshots/@Model.Dungeon.Glyph/@img" class="screenshotThumb" data-fancybox data-options='{"animationEffect":"fade"}'>
				<img src="~/Screenshots/@Model.Dungeon.Glyph/@img" height="128" widht="256" />
			</a>
		}
	}
</div>
<div class="ui bottom attached tab segment" data-tab="tab_comments">
	<div id="commentsAnchor"></div>
	<div id="commentsLoaderIndicator" class="ui active centered inline text loader">Getting comments</div>
</div>

<div class="ui buttons">
	<button id="admDeleteGlyphBtn" class="ui button">Delete Glyph</button>
	<button id="admRebuildVotesBtn" class="ui button">Rebuild Votes</button>
</div>

<input id="dungData" type="hidden" data-glyph="@Model.Dungeon.Glyph" />

@section Script {
	<script type="text/javascript" src="~/lib/fancybox/jquery.fancybox.min.js"></script>
	<script type="text/javascript" src="~/js/showdown.min.js"></script>
	<script type="text/javascript">
		$("#upvoteBtn").on("click", function () { sendVote("up") });
		$("#downvoteBtn").on("click", function () { sendVote("down") });
		$("#retractVoteBtn").on("click", function () { sendVote("retract") });
		$("#markAsClosedBtn").on("click", function () { sendVote("closed") });

		$(document).ready(function() {
			var mdConverter = new showdown.Converter();
			var text = $("#notesAnchor").text();
			$("#notesAnchor").html(mdConverter.makeHtml(text));
		});

		function sendVote(direction) {
			var votePackage = {
				Vote: direction,
				Glyph: $("#dungData").data("glyph")
			};

			$.ajax({
				type: "POST",
				url: "/dungeon/submitvote",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				data: JSON.stringify(votePackage),
				success: function () {
					window.location.reload(true);
				}
			});
		}

		var discussionLoaded = false;
		$(".menu .item").tab({
			onVisible: function (tabName) {
				if (tabName !== "tab_comments" && discussionLoaded === true) return;

				$.get("@Url.Action("LoadComments", "dungeon", new { glyph = Model.Dungeon.Glyph })", function (data) {
					$("#commentsAnchor").html(data);
					$("#commentsLoaderIndicator").remove();
					discussionLoaded = true;
				});
			}
		});

		$("#admDeleteGlyphBtn").on("click", function () {
			var glyph = $("#dungData").data("glyph");
					$("#admDeleteGlyphBtn").addClass("disabled");

			alertify.confirm("Confirm", "Are you sure you want to delete the glyph " + glyph,
				function () {
					// Yes
					$.ajax({
						type: "POST",
						url: "/administration/deleteglyph",
						headers: {
							"Accept": "application/json",
							"Content-Type": "application/json"
						},
						data: JSON.stringify(glyph),
						success: function (e) {
							if (e === "deleted") {
								alert(glyph + " has been deleted.");
								window.location.href = "/";
							}
						}
					});
				},
				function () {
					// No
					$("#admDeleteGlyphBtn").removeClass("disabled");
				}).set("labels", { ok: "Yes", cancel: "No" });
		});

		$("#admRebuildVotesBtn").on("click", function () {
			var glyph = $("#dungData").data("glyph");
			$("#admRebuildVotesBtn").addClass("disabled");

			alertify.confirm("Confirm", "Are you sure you want to rebuild the votes of glyph " + glyph,
				function () {
					// Yes
					$.ajax({
						type: "POST",
						url: "/administration/rebuildglyphvotes",
						headers: {
							"Accept": "application/json",
							"Content-Type": "application/json"
						},
						data: JSON.stringify(glyph),
						success: function (e) {
							window.location.reload(true);
						}
					});
				},
				function () {
					// No
					$("#admRebuildVotesBtn").removeClass("disabled");
				}).set("labels", { ok: "Yes", cancel: "No" });
		});
	</script>
}
