@model TombProspectors.Controllers.HomeController.HomeViewStats
@{
	ViewBag.Title = "Keep on diggin'";
	Layout = "_Layout";
}

<div class="ui segment">
	<div class="ui right close rail">
		<div class="ui segment">
			<div class="ui message">
				<div class="header">Latest Glyph: <a href="/dungeon/viewglyph/@Model.LatestGlyph">@Model.LatestGlyph</a></div>
			</div>

			<div class="ui message">
				<div class="header">Most Submissions</div>
				@if (Model.MostSubmissions != null)
				{
					<p>
						<a href="/account/viewprofile/@Model.MostSubmissions.Item1">@Model.MostSubmissions.Item1</a> with @Model.MostSubmissions.Item2 glyphs
					</p>
				}
			</div>
		</div>
	</div>
	<div>
		<h1 class="ui header">Tomb Prospectors</h1>
		<hr />
		<div class="ui items">
			@foreach (var art in Model.Articles)
			{
				<div class="item">
					<div class="content">
						<a class="header" href="/viewpost/@art.Id">@art.Title</a>
						<div class="meta">
							<span>Posted by @art.PostedBy on @art.Posted</span>
						</div>
						<div class="description">
							<p>
								@Html.Raw(art.Content)
							</p>
						</div>
						@if (User.HasClaim(c => c.Value == "admin"))
						{
							<div class="extra">
								<a href="#">Remove</a>
								<a href="#">Edit</a>
							</div>
						}
					</div>
				</div>
				<div class="ui divider"></div>
			}
		</div>
	</div>
</div>