@model List<TombProspectors.SearchResultEntry>

<style>
	.perfectRating {
		color: darkorange;
	}

	.highRating {
		color: green;
	}

	.mediumRating {
		color: darkgoldenrod;
	}

	.lowRating {
		color: darkred;
	}
</style>

@if (Model.Any(d => d.Closedvotes > 3))
{
	<div class="ui warning message">
		There where closed dungeons in the search results, these have been ignored
	</div>
}

<table class="ui table">
	<thead>
		<tr>
			<th>Glyph</th>
			<th>Root Chalice</th>
			<th>Short Description</th>
			<th>Submitter</th>
			<th>Rating</th>
			<th>Updated</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.OrderByDescending(d => d.Upvotes - (d.Downvotes + d.Closedvotes)).ThenByDescending(d => d.Updated).Where(d => d.Closedvotes < 3))
		{
			<tr>
				<td><a href="/dungeon/viewglyph/@item.Glyph">@item.Glyph</a></td>
				<td>@item.RootChalice</td>
				<td>@item.ShortDescription</td>
				<td><a href="/account/viewprofile/@item.Submitter">@item.Submitter</a></td>
				<td>
					@{
						double ratio = item.Upvotes / (double)(item.Upvotes + item.Downvotes);
						string ratingString = string.Format("{0:0.0%}", ratio);
						string ratingClass;

						if (ratio == 1.0)
						{
							ratingClass = "perfectRating";
						}
						else if (ratio < 1.0 && ratio > 0.75)
						{
							ratingClass = "highRating";
						}
						else if (ratio < 0.74 && ratio > 0.49)
						{
							ratingClass = "mediumRating";
						}
						else // < 0.50
						{
							ratingClass = "lowRating";
						}

						bool newGlyph = item.Upvotes == 1 && item.Downvotes == 0;
						bool hasClosedVotes = item.Closedvotes > 0;
					}

					<div class="item">
						<div class="content">
							<span class="@ratingClass">@ratingString</span>

							@if (ratio == 1.0 && newGlyph == false)
							{
								<a href="#" data-tooltip="Dungeon has a perfect rating">
									<i class="perfectRating star icon"></i>
								</a>
							}

							@if (hasClosedVotes)
							{
								<a href="#" data-tooltip="There are closed votes for this dungeon. If enough closed votes are registered, this dungeon will be hidden">
									<i class="lowRating warning sign icon"></i>
								</a>
							}
						</div>
					</div>
				</td>
				<td>@item.Updated</td>
			</tr>
		}
	</tbody>
</table>


<div class="ui fluid accordion">
	<div class="title">
		<i class="dropdown icon"></i>
		Icon Legend
	</div>
	<div class="content">
		<ul>
			<li><i class="perfectRating star icon"></i> Perfect Rating: All upvotes and 0 downvotes. Exception glyphs that have +1/-0</li>
			<li><i class="lowRating warning sign icon"></i> Closed Warning: Dungeon has at least 1 closed vote. After 2 confirmation votes, this dungeon will be excluded from the search results</li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$(".accordion").accordion();
	});
</script>